@import "social-links.css";
body {
    margin: 0%;
}
.title {
    font-size: 50px;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    text-decoration: underline;
    padding-top: 5px;
}
h1 {
    text-decoration: underline;
}
.grid-title {
    display: grid;
}
ul {
    display: flex;
    flex-direction: column;
    list-style: none;
}
.home {
    float: left;
    margin-left: 10px;
    color: #FFFFFF;
}
footer {
    position: sticky;
    height: 80px;
    width: 100%;
    top: auto;
    color:#FFFFFF; 
    background: #06303A;
    font-size:1.5em;
    line-height: 50px;
    }
@media screen and (max-width: 600px) {
    img {
        width: 150px;
    }
    .grid-title {
        display: grid;
    }
    ul {
        text-align: center;
        padding: 5px;
    }
    footer {
        top: auto;
    }
}